.main {
    padding: 0.5rem 0.75rem;
}

.title {
    color: black !important;
    font-size: 1.5rem !important;
}

.menu-label {
    font-size: 1.2rem !important;
}

.part {
    display: none;
}

.nav {
    border-bottom: 1px solid #ddd;
}

#selectM {
    width: 100%;
}

#selectP {
    width: 100%;
    margin-top: 10px;
}

input, select, textarea, div {
    border-radius: 0 !important;
}

.dia_name, .dia_id {
    width: 45%;

}

.oh {
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

#tx_show {
    margin-top: 10px;
    height: 372px;
    padding: 0;
}

.btn {
    text-align: center;
    margin-top: 15px;
}

.exec_btn {
    margin-top: 15px;
    margin-left: 15px;
}

#selectLocFile {
    display: none;
}

.dia_item:hover{
    color: #00d1b2;
}
.dia_item{
    color: #363636;
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 6px;
}

.on_dia_item{
    color: #000000 !important;
    background: #a5c5f7 !important;
}